doctype html
html(lang="en")
  head
    title= jass
    link(rel="stylesheet", href="css/style.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    .conteiner
      .login-element
        .butones-login
          span.buton.log
            p Log In
          span.buton.sign
            p Sign Up
        .rellenar
          .principal-relleno
            .forms-log
              p Email
              input.email-file
              br
              p Password
              input.pass-file
            .submit-log
              button.submit-buton.buton
                p Log In
          .footer-relleno
            p.sign-footer
            p.forget
